@import './../styles.scss';

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.layout {
  height: 100vh;
  // background-color: #1a1a1a;

}

nz-layout {
  // background-color: #1a1a1a;

}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0;
  padding: $index;
  position: relative;
  background-image: url(../assets/images/bg.jpg);
  background-position: center;
  background-size: cover;

}



nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
  background-color: #1a1a1a;

}

.main__month {
  display: flex;
  justify-content: space-between;

  & app-calendar {
    margin-right: 15px;
  }

  & app-organizer {
    max-width: 50vw;
    width: 100%;
  }
}

.sidemenu__title {
  font-size: 1rem;
}

