@import "./../../../styles.scss";

.organizer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    animation: animFromDown $transition ease-in-out;
  }
  &__content {
    padding: 25px;
    margin-bottom: $index;
    border-radius: $border-radius;
    background: $dark-gray;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 65vh;
    animation: animFromDown $transition ease-in-out;
  }
  &__empty {
    text-align: center;
    animation: animFromDown $transition ease-in-out;
  }
  &__add {
    animation: animFromDown $transition ease-in-out;

  }
}

.task {
  padding: 20px;
  border-radius: $border-radius;
  background: #262626;
  margin-bottom: $index;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: animFromUp 0.3s;
  &:nth-last-child(-n + 1) {
    margin-bottom: 0;
  }
  &__start,
  &__end {
    display: flex;
    align-items: center;
  }
  &__check {
    margin-right: 15px;
  }
  &__title {
    font-size: 14px;
    max-width: 50vw;
    word-wrap: break-word;
  }
  &__icon {
    font-size: 14px;
    filter: invert(13%) sepia(6%) saturate(184%) hue-rotate(202deg)
      brightness(90%) contrast(85%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    margin-left: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  &__textarea {
    resize: none;
    height: 150px;
    padding: 10px;
  }
}

.filter {
  padding: 10px;
  border-radius: $border-radius;
  background-color: $dark-gray;
  font-size: 14px;
  margin-right: 5px;
  color: $dark-white;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  & span {
    color: $dark-white;
    padding-right: 5px;
  }
  &:hover {
    color: $dark-white;
    background-color: $light-gray;
    & span {
      transform: scale(1.3);
      transition: ease-in-out 0.3s;
    }
  }
  &:not(:hover) {
    & span {
      transition: ease-in-out 0.3s;
    }
  }
}

nz-input-group {
  padding: 15px !important;
  border-radius: $border-radius !important;
}

[nz-input] {
  font-size: 1rem;
  padding-left: 10px !important;
}

[nz-menu] {
  border-radius: $border-radius !important;
}

[nz-menu-item] {
  padding: 10px;
  border-radius: $border-radius !important;
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  .organizer {
    &__header {
      flex-direction: column;
    }
  }
  .filter {
    margin-bottom: calc($index * 0.5);
  }

  .task {
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .organizer {
    &__content {
      padding: 10px;
    }
  }
  .filter {
    margin-bottom: calc($index * 0.5);
    font-size: 12px;
  }
  .task {
    padding: 10px;
    &__title {
      max-width: 40vw;
    }
  }
}
