<div class="organizer">

  <div class="organizer__header">
    <a class="filter" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"><span nz-icon nzType="menu" nzTheme="outline"></span> Сортировать</a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="sortByCompleted()">По выполнению</li>
        <li nz-menu-item (click)="sortByTime()">По времени</li>
        <li nz-menu-item (click)="sortByAlphabet()">По алфавиту</li>
      </ul>
    </nz-dropdown-menu>
    <a class="filter" (click)="removeCompleted()"><span nz-icon nzType="clear" nzTheme="outline"></span> Удалить завершенные</a>
  
    <a class="filter" (click)="moveUncompleted()"><span nz-icon nzType="frown" nzTheme="outline"></span> Перенести невыполненные на следующий день</a>
  </div>
  
  <div class="organizer__content">
  
    <ul class="task__wrapper" *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks">
        <div class="task__start">
          <label class="task__check" nz-checkbox [(ngModel)]="task.done" (ngModelChange)="check(task)"></label>
          <div class="task__title" [ngStyle]="{
            'text-decoration': task.done ? 'line-through' : 'none',
            'color': task.done ? '#B1B1B1' : ''
          }">
            {{ task.title }}
          </div>
  
        </div>
        <div class="task__end">
          <span nz-icon class="task__icon task__favorite" nzType="star" [nzTheme]="task.important ? 'fill' : 'outline'" (click)="markImportant(task)"></span>
          <span *ngIf="!task.done" class="task__icon task__edit" nz-icon nzType="edit" (click)="showModal(task)" nzTheme="outline"></span>
        <nz-modal [(nzVisible)]="isVisibleModal" (nzOnCancel)="handleCancel()" (nzOnOk)="edit()">
          <ng-container *nzModalContent>
            <form [formGroup]="editForm">
              <textarea class="task__textarea" rows="4" formControlName="title" nz-input></textarea>
            
            </form>
          </ng-container>
        </nz-modal>
          <span class="task__icon task__remove" nz-icon nzType="close" nzTheme="outline" (click)="remove(task)"></span>
        </div>
  
      </li>
    </ul>
    <ng-template #noTasks>
      <p class="organizer__empty">У вас пока нет задач на этот день.</p>
    </ng-template>
  </div>
  <div class="organizer__add">
    <form nz-form [formGroup]="form" (ngSubmit)="add()">
      <nz-input-group [nzPrefix]="prefixTemplateUser">        
          <input type="text" formControlName="title" nz-input placeholder="Добавить" />
      </nz-input-group>
      <ng-template #prefixTemplateUser><span nz-icon nzType="plus" nzTheme="outline"></span></ng-template>
    
    </form>
  
  </div>
</div>
