@import './../../../styles.scss';


.organizer {
  &__wrapper {
  padding: 25px;
  border-radius: $index;
  background: $dark-gray;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 75vh;
  animation: animFromDown $transition ease-in-out;
}
&__add {
  position: absolute;
  bottom: 1%;
  left: 25px;
  right: 25px;
}

&__empty {
  text-align: center;
  animation: animFromUp $transition ease-in-out;

}
}

.task {
  padding: 20px;
  border-radius: $index;
  background: #262626;
  margin-bottom: $index;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: animFromUp .3s ;
    &__start, &__end {
      display: flex;
      
    }

    &__check {
      margin-right: 15px;
    }
    
    &__title {
      font-size: 1rem;
      max-width: 50vw;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__remove, &__edit {
      font-size: calc($index * 0.8);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: .3s ease;
      margin-left: 10px;
      &:hover {
        cursor: pointer;
        color: #177DDC;
      }
    }

}

nz-input-group {
  padding: 15px !important;
  border-radius: $index !important;


}

[nz-input] {
  font-size: 1rem;
  padding-left: 10px !important;
}


