@import './../../../styles.scss';


.organizer {
  &__header {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
  animation: animFromDown $transition ease-in-out;

  }

  &__wrapper {
  padding: 25px;
  border-radius: $index;
  background: $dark-gray;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 65vh;
  animation: animFromDown $transition ease-in-out;
}
&__add {
  position: absolute;
  bottom: 1%;
  left: 25px;
  right: 25px;
}

&__empty {
  text-align: center;
  animation: animFromUp $transition ease-in-out;

}
}

.task {
  padding: 20px;
  border-radius: $index;
  background: #262626;
  margin-bottom: $index;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: animFromUp .3s ;
    &__start, &__end {
      display: flex;
      
    }

    &__check {
      margin-right: 15px;
    }
    
    &__title {
      font-size: 1rem;
      max-width: 50vw;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__icon {
      font-size: calc($index * 0.8);
      filter: invert(13%) sepia(6%) saturate(184%) hue-rotate(202deg) brightness(90%) contrast(85%);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: .3s ease;
      margin-left: 10px;
      &:hover {
        cursor: pointer;
      }
    }

    &__textarea {
      resize: none;
      height: 150px;
      padding: 10px;
    }

}

.filter {
  padding: 10px;
  border-radius: 15px;
  background-color: $dark-gray;
  font-size: 14px;
  margin-left: 5px;
  color: $dark-white;
  transition: all .3s;
  & span {
    color: $dark-white;
  }

  &:hover {
    color: $dark-white;
    background-color: $light-gray;

  }
}

nz-input-group {
  padding: 15px !important;
  border-radius: $index !important;


}

[nz-input] {
  font-size: 1rem;
  padding-left: 10px !important;
}

[nz-menu] {
  border-radius: $index !important;
}

[nz-menu-item] {
  padding: 10px;
  border-radius: $index !important;

}


